{% load staticfiles %}
<!DOCTYPE HTML>
<!--
	Thomas Heaton
-->
<html>
	<head>
		<title>About  Thomas Heaton</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>
		<div class="page-wrap">


			<!-- Main -->
				<section id="main">

					<!-- Banner -->
						<section id="banner">
							<div class="inner">
								<h1>Hey, He is Thomas Heaton</h1>
								<p>Professional Photographer</p>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">Continue</a></li>
								</ul>
							</div>
						</section>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Photo Galleries -->
								<div class="gallery">
									<header class="special">
										<h2>What's New</h2>
									</header>
									<div class="content">
										<div class="media">
											<a href="{% static 'images/fulls/01.jpg' %}"><img src="{% static 'images/thumbs/01.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fulls/05.jpg' %}"><img src="{% static 'images/thumbs/05.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fulls/09.jpg' %}"><img src="{% static 'images/thumbs/09.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fulls/02.jpg' %}"><img src="{% static 'images/thumbs/02.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fulls/06.jpg' %}"><img src="{% static 'images/thumbs/06.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fulls/10.jpg' %}"><img src="{% static 'images/thumbs/10.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fulls/03.jpg' %}"><img src="{% static 'images/thumbs/03.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
										<div class="media">
											<a href="{% static 'images/fulls/07.jpg' %}"><img src="{% static 'images/thumbs/07.jpg' %}" alt="" title="This right here is a caption." /></a>
										</div>
									</div>
								</div>
						</section>

					<!-- Contact -->
						<section id="contact">
							<!-- Social -->
								<div class="social column">
									<h3>About Him</h3>
									<p>Thomas is a British photographer who specializes in landscape and traveling genres and is rapidly earning his place at the top. His portfolio includes a stunning variety of different styles, and Heaton also runs an inspiring YouTube channel, where he uploads encouraging videos about landscape photography. His fans love his sincere, energetic vlogs and images and consider him to be the best landscape photographer out there.Thomas adores hiking and focuses on finding the perfect location at the most opportune moment rather than chasing after expensive camera gear.Heaton’s other sources of income come from publishing his photographs in popular magazines and organizing workshops dedicated to his favorite genre.</p>
								</div>

							<!-- Form -->
								<div class="column">
									<h3>Get in Touch</h3>
									<form action="#" method="post">
										<div class="field half first">
											<label for="name">Name</label>
											<input name="name" id="name" type="text" placeholder="Name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input name="email" id="email" type="email" placeholder="Email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
										</div>
										<ul class="actions">
											<li><input value="Send Message" class="button" type="submit"></li>
										</ul>
									</form>
								</div>

						</section>

					<!-- Footer -->
						<footer id="footer">
							<div class="copyright">
								&copy; All rights reserved Images: <a href="https://unsplash.com/">Unsplash</a>.
							</div>
						</footer>
				</section>
		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
